/* import fonts */
@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap");


/* set colors */
:root {
    --primary-color-black: #000000;
    --primary-color-white: #ffffff;
    --primary-color-neutral: #404040;
    --primary-color-error: #ef4444;

    --zinc-color-100: #f4f3f5;
    --zinc-color-200: #e4e4e7;
    --zinc-color-300: #d4d4d8;
    --zinc-color-500: #71717a;
    --zinc-color-800: #27272a;

}

/* set font family */
body {
  font-family: "Sora", sans-serif;
}

/* set box sizing */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


